@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-DemiIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 5rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.navbar__items {
  width: 50%;
  padding-bottom: 0.4rem;
  margin: 1rem 0 0 0;
}
@media (min-width: 768px) {
  .navbar__items {
    width: auto;
    min-width: auto;
    margin: 0 3rem 0 2.5rem;
    padding: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .navbar__items {
    margin: 0 3.5rem;
  }
}
.navbar__items--logo {
  margin-left: 1rem;
  height: 0.938rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .navbar__items--logo {
    margin-left: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .navbar__items--logo {
    margin-left: 11.25rem;
  }
}
@media (min-width: 768px) {
  .navbar__items--logo {
    margin-top: 1.5rem;
  }
}
.navbar__items--bar {
  border-bottom: 0.313rem solid white;
}
.navbar__items a {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: white;
}
@media (min-width: 768px) {
  .navbar__items a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.navbar__items a:hover {
  text-shadow: 0px 1px 3px rgba(253, 201, 31, 0.5);
  transform: scale(2);
  transition: 0.2s;
  font-weight: bold;
}
.navbar__links-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#shows {
  font-weight: 600;
}

.footer-container {
  margin-top: 1rem;
  background-color: #323232;
}

.footer {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    margin: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  .footer {
    margin: 0 11.25rem;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 2.5rem 0 1.5rem 0;
}
@media (min-width: 1440px) {
  .footer__title {
    margin: 3rem 0 3.5rem 0;
  }
}
.footer__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  flex: 1;
}
@media (min-width: 768px) {
  .footer__list {
    margin-left: 2.75rem;
  }
}
.footer__items {
  margin: 0px 1rem;
}
@media (min-width: 1440px) {
  .footer__items {
    margin: 0 2rem 0 2rem 0;
  }
}
.footer__items--hide {
  display: none;
}
@media (min-width: 768px) {
  .footer__items--hide {
    display: inline-block;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .footer__items--hide {
    width: 7.5rem;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer-info {
    margin: 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  .footer-info {
    margin: 0 11.25rem;
  }
}
@media (min-width: 768px) {
  .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-info .footer-members__title {
  color: white;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .footer-info .footer-members__title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer-info .footer-members__margin-mid {
    margin: 0 2rem;
  }
}
@media (min-width: 1440px) {
  .footer-info .footer-members__margin-mid {
    margin-right: 3.875rem;
  }
}
.footer-info .footer-members__address {
  margin: 1.5rem 0;
  color: white;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer-info .footer-members__address {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer-info .footer-members__address--email:hover {
  text-shadow: 0px 1px 3px rgba(253, 201, 31, 0.5);
  transform: scale(2);
  transition: 0.1s;
  font-weight: bold;
}
.footer-info .footer-members a {
  color: white;
}
.footer-info .footer-copyright {
  font-size: 0.813rem;
  line-height: 1.125rem;
  flex-basis: 100%;
  color: white;
  width: 13.438rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .footer-info .footer-copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1440px) {
  .footer-info .footer-copyright {
    margin-top: 2.5rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/showshero.jpeg);
  background-size: cover;
  width: 100%;
  height: 472px;
}
@media (min-width: 768px) {
  .hero {
    height: 670px;
  }
}
@media (min-width: 1440px) {
  .hero {
    display: flex;
    flex-direction: row;
  }
}
.hero__subtitle {
  color: white;
  margin: 64px 0 0 16px;
}
@media (min-width: 768px) {
  .hero__subtitle {
    margin: 96px 0 0 24px;
  }
}
@media (min-width: 1440px) {
  .hero__subtitle {
    margin: 160px 0 0 180px;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  margin: 16px 0 64px 16px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    margin: 16px 0 64px 16px;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    margin: 48px 0 64px 180px;
  }
}
.hero__player-cont {
  margin: 0px 16px 0 16px;
}
@media (min-width: 768px) {
  .hero__player-cont {
    margin: 0 24px 0 24px;
    width: 60%;
    max-width: 400px;
  }
}
@media (min-width: 1440px) {
  .hero__player-cont {
    width: 436px;
    margin: 265px 0 0 64px;
  }
}
.hero__player-cont--iframe {
  width: 100%;
}

.shows-container {
  margin: 2rem 1rem 0 1rem;
}
@media (min-width: 768px) {
  .shows-container {
    margin: 2rem 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1440px) {
  .shows-container {
    margin: 3rem 11.25rem 0 11.25rem;
    display: flex;
    flex-direction: row;
  }
}
.shows-container__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1440px) {
  .shows-container__title {
    margin-right: 6.25rem;
  }
}

.table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .table {
    width: 50.25rem;
  }
}
.table__row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .table__row {
    display: table-row;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .table__row {
    width: 50.25rem;
  }
}
.table__row--header {
  display: none;
}
@media (min-width: 768px) {
  .table__row--header {
    display: table-cell;
    color: #afafaf;
  }
}
.table__row--data {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .table__row--data {
    display: table-cell;
    border-bottom: 1px solid #e1e1e1;
  }
}
.table__row--data:before {
  content: attr(data-th);
  font-weight: 600;
  margin: 0 0 1.5rem 0;
  color: #afafaf;
}
@media (min-width: 768px) {
  .table__row--data:before {
    display: none;
  }
}
.table__row--data-button {
  text-align: right;
}
.table__row--dates {
  font-weight: bold;
}
.table__row--button {
  color: white;
  background-color: #323232;
  border: none;
  border-radius: 0.25rem;
  width: 18rem;
  height: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.table__row--button:hover {
  background-color: black;
}
@media (min-width: 768px) {
  .table__row--button {
    width: 10rem;
    margin-top: 1rem;
  }
}
.table__divider {
  border: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  .table__divider {
    display: none;
  }
}/*# sourceMappingURL=shows.css.map */