// PARTIAL IMPORT
@import 'partials/partials';
// FONTLIST.
@include font-list;
@include nav;
@include footer;
// GLOBAL ***************************************************************************************
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Avenir Next';
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

// HERO ********************************
.hero {
  @include flex-column;
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/showshero.jpeg);
  background-size: cover;
  width: 100%;
  height: 29.5rem;
  @include tablet {
    height: 41.875rem;
  }
  @include desktop {
    @include flex-row;
  }
  &__subtitle {
    color: white;
    margin: 4rem 0 0 1rem;
    @include tablet {
      margin: 6rem 0 0 1.5rem;
    }
    @include desktop {
      margin: 10rem 0 0 11.25rem;
    }
  }
  &__title {
    @include h1-hero;
    color: white;
    margin: 1rem 0 4rem 1rem;
    @include desktop {
      margin: 3rem 0 4rem 11.25rem;
    }
  }
  &__player-cont {
    margin: 0 1rem;
    @include tablet {
      margin: 0 1.5rem;
      width: 60%;
      max-width: 25rem;
    }
    @include desktop {
      width: 27.25rem;
      margin: 16.563rem 0 0 4rem;
    }
    &--iframe {
      width: 100%;
    }
  }
}
// SHOW TABLE SECTION*******************
.shows-container {
  margin: 2rem 1rem 0 1rem;
  @include tablet {
    margin: 2rem 1.5rem 0 1.5rem;
  }
  @include desktop {
    margin: 3rem 11.25rem 0 11.25rem;
    @include flex-row;
  }

  &__title {
    @include h2-header;
    margin-bottom: 1.5rem;
    @include desktop {
      margin-right: 6.25rem;
    }
  }
}

.table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;

  @include tablet {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
  }
  @include desktop {
    width: 50.25rem;
  }
  &__row {
    @include flex-column;
    @include tablet {
      display: table-row;
      text-align: left;
    }
    @include desktop {
      width: 50.25rem;
    }
    &--header {
      display: none;
      @include tablet {
        display: table-cell;
        color: $text-label;
      }
    }
    &--data {
      @include flex-column;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      @include tablet {
        display: table-cell;
        border-bottom: 1px solid $divider;
      }
      &:before {
        content: attr(data-th);
        font-weight: 600;
        margin: 0 0 1.5rem 0;
        color: $text-label;
        @include tablet {
          display: none;
        }
      }
    }
    &--data-button {
      text-align: right;
    }
    &--dates {
      font-weight: bold;
    }
    &--button {
      @include button;
      width: 18rem;
      height: 3rem;
      margin-bottom: 1rem;
      font-weight: 600;
      &:hover {
        background-color: black;
      }
      @include tablet {
        width: 10rem;
        margin-top: 1rem;
      }
    }
  }
  &__divider {
    border: 1px solid $divider;
    @include tablet {
      display: none;
    }
  }
}
