@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf format('opentype'");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-DemiIt.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/_Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  width: 100%;
}

.navbar {
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  list-style: none;
  align-items: center;
  text-align: center;
}
.navbar a {
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  .navbar a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.navbar-logo {
  margin: 16px 0;
  height: 17px;
  color: red;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navbar-list__items {
  width: 160px;
  list-style: none;
  padding-bottom: 4px;
}
.navbar-list__items--bar {
  border-bottom: 5px solid white;
}

#biography {
  font-weight: 700;
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 183px;
  width: 100%;
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero.jpg);
  background-size: cover;
  align-items: center;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  margin: 0 16px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.about-container {
  margin: 0 16px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 600;
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 32px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__figure {
  min-width: 288px;
  width: 100%;
  height: 50vw;
  margin-bottom: 24px;
}
.about__figure--img {
  width: 100%;
  height: 100%;
}
.about__quote {
  font-size: 0.813rem;
  line-height: 1.125rem;
  min-width: 288px;
  width: 100%;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.about__quote--author {
  margin-bottom: 40px;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .about__quote--author {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.about-band {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.about-band__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .about-band__title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.about-band__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .about-band__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery-container {
  margin: 0 16px 32px 16px;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 32px 0 24px 0;
}
.gallery__figure {
  min-width: 288px;
  width: 100%;
  margin-bottom: 16px;
}
.gallery__figure--img {
  width: 100%;
}

.footer-container {
  background-color: #323232;
}

.footer {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 40px 0 24px 0;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__link {
  margin: 0px 8px;
  list-style: none;
}
.footer__link--hide {
  text-decoration: none;
  color: white;
  display: none;
}

.footer-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 24px 16px 0 16px;
}
.footer-info .footer-members__title {
  color: white;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer-info .footer-members__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-info .footer-members__address {
  margin: 24px 0;
  color: white;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer-info .footer-members__address {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.footer-copyright {
  color: white;
  margin-bottom: 40px;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer-copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}/*# sourceMappingURL=main.css.map */