// PARTIAL IMPORT
@import 'partials/partials';
// FONTLIST.
@include font-list;
// GLOBAL ***************************************************************************************
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Avenir Next';
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
// NAVBAR ***************************************************************************************
.navbar {
  @include flex-column;
  text-align: center;
  height: 5rem;
  background-color: $navigation-background-fill;

  @include tablet {
    @include flex-row;
    align-items: baseline;
  }

  &__items {
    width: 50%;
    padding-bottom: 0.4rem;
    margin: 1rem 0 0 0;
    @include tablet {
      width: auto;
      min-width: auto;
      margin: 0 3rem 0 2.5rem;
      padding: 1.5rem;
    }
    @include desktop {
      margin: 0 3.5rem;
    }
    &--logo {
      @include side-margin-logo;
      height: 0.938rem;
      margin-top: 1rem;
      @include tablet {
        margin-top: 1.5rem;
      }
    }
    &--bar {
      border-bottom: 0.313rem solid white;
    }
    a {
      display: inline-block;
      @include h3-subheader;
      color: white;
      &:hover {
        text-shadow: 0px 1px 3px rgba(253, 201, 31, 0.5);
        transform: scale(2);
        transition: 0.2s;
        font-weight: bold;
      }
    }
  }
  &__links-cont {
    @include flex-row;
    justify-content: space-between;
  }
}
#biography {
  font-weight: 600;
}

// HERO ***************************************************************************************
.hero {
  @include flex-row;
  align-items: center;
  background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero.jpg);
  background-size: cover;
  width: 100%;
  min-height: 11.438rem;
  height: 40vw;
  @include tablet {
    min-height: 25rem;
  }
  @include desktop {
    min-height: 41.875rem;
  }
  &__title {
    @include h1-hero;
    @include side-margin;
    color: white;
  }
}
// ABOUT ***************************************************************************************
.about-container {
  @include side-margin;
}
.about {
  @include flex-column;
  font-weight: 600;

  &__title {
    @include h1-header;
    margin: 2rem 0 1.5rem 0;
    @include desktop {
      margin: 3rem 0;
    }
  }
  &__figure {
    min-height: 9.063rem;
    width: 100%;
    height: 30vw;
    margin: 0 0 1.5rem 0;
    @include tablet {
      min-width: 45rem;
      min-height: 22.625rem;
    }
    @include desktop {
      min-width: 56rem;
      min-height: 28.125rem;
      padding: 0 6.25rem;
      margin: 0 0 3rem 0;
    }
    &--img {
      width: 100%;
      height: 100%;
    }
  }
  &__quote {
    @include h3-subheader;
    width: 95%;
    font-weight: 700;
    margin: 0 0 2rem 0;
    @include tablet {
      @include h2-header;
    }
    @include desktop {
      width: 75%;
      margin: 0 6.25rem 2.5rem 6.25rem;
    }

    &--author {
      @include h3-subheader;
      margin: 0 0 2.5rem 0;
      @include desktop {
        margin: 0 6.25rem 3.5rem 6.25rem;
      }
    }
  }
}
.about-band {
  @include flex-column;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  @include tablet {
    @include flex-row;
  }
  @include desktop {
    margin-bottom: 3rem;
  }

  &__title {
    @include h3-subheader;
    margin: 0 0 1.5rem 0;
    @include tablet {
      @include h2-header;
    }
    @include desktop {
      margin: 0 6.25rem 2rem 6.25rem;
    }
  }
  &__text {
    @include h4-paragraph;
    margin-bottom: 1.5rem;
    @include tablet {
      @include flex-row;
    }
    @include desktop {
      margin: 0 6.25rem 0 6.25rem;
    }
    &--between {
      margin: 0 0 1rem 0;
      @include tablet {
        margin: 0 1.5rem 0 0;
      }
      @include desktop {
        margin-right: 2.5rem;
      }
    }
  }
}
// IMAGE GALLERY ***************************************************************************************
.gallery-container {
  @include side-margin;
  &__title {
    margin: 2rem 0 1.5rem 0;
    @include h1-header;
    @include desktop {
      margin: 3rem 0 4rem 0;
    }
  }
}
.gallery {
  @include flex-column;
  @include tablet {
    @include flex-row;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__figure {
    width: 100%;
    // height: 162;
    margin-bottom: 1rem;
    filter: grayscale(0.6);
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      width: 31%;
      margin-bottom: 1.5rem;
      min-width: 14rem;
    }
    @include desktop {
      width: 31%;
      min-width: 21.5rem;
    }
    &--margin-mid {
      @include tablet {
        margin: 0 1.5rem;
      }
    }
    &--img {
      width: 100%;
    }
  }
}
// CONVERSATION ***************************************************************************************

// FORM****************************
.conversation-container {
  @include side-margin;
  @include flex-column;
  &__title {
    margin-top: 2rem;
    @include h1-header;
    @include desktop {
      margin-top: 3rem;
    }
  }
}
.conversation-form {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  @include desktop {
  }
  &__divider--top {
    display: none;
    @include tablet {
      display: block;
      width: 32.75rem;
      margin: 0 auto 0 auto;
      border-top: 1px solid $divider;
    }
  }
  &__picture {
    @include Profile-picture;
  }
  &__form-container {
    @include flex-column;
    width: 14rem;
    @include tablet {
      width: 28.75rem;
    }
  }
  &__name-label {
    @include h5-labels;
    color: $text-label;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    @include desktop {
      margin-top: 3.625rem;
    }
  }
  &__name {
    height: 3rem;
    padding: 0.5rem;
    background-color: $text-field-background;
    border: 1px solid black;
    border-radius: 0.313rem;
    &::placeholder {
      @include h5-labels;
      padding-left: 0.938rem;
    }
  }
  &__label-textarea {
    @include h5-labels;
    color: $text-label;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    @include desktop {
      margin-top: 1.5rem;
    }
  }
  &__textarea {
    padding: 0.5rem;
    height: 6rem;
    background-color: $text-field-background;
    border-radius: 0.313rem;
    &::placeholder {
      @include h5-labels;
      padding-top: 0.938rem;
      padding-left: 0.938rem;
    }
  }
  &__button {
    @include button;
    width: 14rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    &:hover {
      background-color: black;
    }
    @include tablet {
      margin-top: 1.5rem;
      width: 10rem;
      align-self: flex-end;
    }
  }
}
// FIXED CONVERSATIONS**
.conversation-container-posted {
  @include flex-column;
  align-items: center;
  margin-bottom: 2.5rem;
  @include tablet {
    width: auto;
  }
}
.comment-container {
  @include flex-row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  &__picture {
    @include Profile-picture;
  }
  &__divider {
    display: none;
    @include tablet {
      display: block;
      width: 32.75rem;
      margin: 0 auto 0 auto;
      border-top: 1px solid $divider;
    }
  }
}
.comment-body {
  @include flex-row;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 14rem;
  @include tablet {
    width: 28.75rem;
    justify-content: flex-start;
  }
  &__name {
    @include h5-labels;
    margin-bottom: 1rem;
    font-weight: 600;
    @include tablet {
      margin-right: 1rem;
    }
  }
  &__date {
    @include h4-paragraph;
    color: $text-label;
  }
  &__comment {
    @include h4-paragraph;
    @include h5-labels;
    flex: 100%;
    width: 1.5rem;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
  }
  &__interaction {
    display: flex;
    align-items: baseline;
    width: 100%;
    & p {
      color: rgba(228, 194, 85, 0.829);
      font-weight: 600;
      text-shadow: 0px 0px 0px rgb(24, 24, 23);
    }
    &--likes {
      @include button;
      width: 3.5rem;
      padding: 0.5rem;
      margin-right: 10px;
      &:hover {
        text-shadow: 0px 1px 3px rgba(253, 201, 31, 0.5);
        transform: scale(1.05);
        transition: 0.2s;
        font-weight: bold;
      }
    }
    &--delete {
      @include button;
      width: 3.5rem;
      padding: 0.5rem;
      margin-left: auto;
      &:hover {
        background-color: rgb(200, 34, 34);
        text-shadow: 0px 1px 3px rgba(253, 201, 31, 0.5);
        transform: scale(0.95);
      }
    }
    @include tablet {
      margin-bottom: 1rem;
    }
  }
}

// FOOTER ***************************************************************************************
.footer-container {
  margin-top: 1rem;
  background-color: $navigation-background-fill;
}
.footer {
  @include side-margin;
  @include flex-column;
  @include tablet {
    @include flex-row;
    align-items: baseline;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 2.5rem 0 1.5rem 0;
    @include desktop {
      margin: 3rem 0 3.5rem 0;
    }
  }
  &__list {
    @include flex-row;
    margin-bottom: 1.5rem;
    flex: 1;
    @include tablet {
      margin-left: 2.75rem;
    }
  }
  &__items {
    margin: 0px 1rem;
    @include desktop {
      margin: 0 2rem 0 2rem 0;
    }
    &--hide {
      display: none;
      @include tablet {
        display: inline-block;
        margin-left: auto;
      }
      @include desktop {
        width: 7.5rem;
      }
    }
  }
}
.footer-info {
  @include flex-column;
  @include side-margin;
  @include tablet {
    @include flex-row;
    flex-wrap: wrap;
  }
  .footer-members {
    &__title {
      color: white;
      @include h3-subheader;
    }
    &__margin-mid {
      @include tablet {
        margin: 0 2rem;
      }
      @include desktop {
        margin-right: 3.875rem;
      }
    }
    &__address {
      margin: 1.5rem 0;
      color: white;
      @include h4-paragraph;

      &--email:hover {
        text-shadow: 0px 1px 3px rgba(253, 201, 31, 0.5);
        transform: scale(2);
        transition: 0.1s;
        font-weight: bold;
      }
    }
    a {
      color: white;
    }
  }
  .footer-copyright {
    @include h4-paragraph;
    flex-basis: 100%;
    color: white;
    width: 13.438rem;
    margin-bottom: 2.5rem;
    @include desktop {
      margin-top: 2.5rem;
    }
  }
}
